.hbanner {
  background-image: url("../img/bg5.jpg");
  background-size: cover;
  height: 500px;
  border-bottom: solid 4px #ff6600;
}
#hImg {
  background-image: url("../img/updatebg.gif");
  height: 500px;
}
